# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages for Data Science
- Commonly used libraries by Data Scientists
- Data Science Tools
- Arithmetic expressions in Python

### Author
Toka Hassan

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch
9. Apache Spark
10. Scala
11. R

| Data Science Tools |
| ------------------ |
| JupyterLab |
| Anaconda |
| VisualStudio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335